.findMemberBoardDetailCommentBox {
    width: 100%;
    margin-top: 0.1vh;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    background-color: #23272b;
    color: rgba(240, 248, 255, 0.514);
}

.findMemberBoardDetailCommentInfo {
    margin-top: 0.7vh;
    margin-left: 1vw;
}

.findMemberBoardDetailComment {
    margin-top: 2vh;
    margin-left: 1.4vw; 

}

.findMemberBoardDetailCommentButtons {
    margin-top: 2vh;
    font-size: small;
    margin-left: 1vw;
}

.updateFindmemberBoardDetailCommentBox{
    cursor: pointer;
    margin-top: 0.5vh;
}

.updateFindmemberBoardDetailComment {
    display: flex;
    margin-left: 1vw;
}

.updateFindmemberBoardDetailCommentContent {
    all:unset;
    width: 35vw;
    height: 5vh;
    background-color: #c7c4c4;
    color: #000;
}

.updateFindmemberBoardDetailCommentBtn{
    all:unset;
    cursor: pointer;
    background-color: #2f3336;
    width: 3vw;
    height: 5vh;
    text-align: center;
}

.findMemberBoardDetailPageBox{
    display: flex;
    gap: 0.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: rgba(240, 248, 255, 0.692);
    justify-content: center;
}

.recentTenBox {
    width: 15vw;
    margin-left: 10vw;
    background-color: #23272b;
    height: 60vh;
}

.recentTenTextBox {
    margin-top: 1vh;
    text-align: center;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    color: rgba(168, 168, 168, 0.815);
    border-bottom: 1px solid #1C1C1F;
}

.recentTenBoardBox {
    display: flex;
    height: 5vh;
    border-bottom: 1px solid #1C1C1F;
}

.recentTenBoardView {
    width: 3vw;
    text-align: center;
    margin-top: 1.5vh;
    color: rgba(228, 232, 236, 0.842);
    font-size: smaller;
}

.recentTenBoardContentBox {
    display: flex;
    margin-top: 0.6vh;
}

.recentTenBoardTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10vw;color: #dadbd1d8;
}

.recentTenBoardCommentCount { 
    color:#778167de;
    margin-top: 0.5vh;
}

.recentTenBoardAuthor {
    color: #b4b9be98;
    font-size: 0.7vw;
}


.detailBox{
    display: flex;
    gap: 5vw;
    padding-top: 5vh;
}

.detailTuckBox {
    width: 40vw;
    min-height: 70vh;
}

.detailTitleBox {
    background-color: #23272B; 
    height: 13vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.detailTitleAlign {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.detailTitle {
    color: #BDC1C6;
    font-size: x-large;
}

.detailTitleEtcBox {
    display: flex;
    margin-top: auto;
    gap: 0.5vw; 
    color: #bdc1c6ab;
    font-size:smaller;
}

.detailTitleEtc {
    display: flex;
    gap:0.5vw;
    margin-left: auto;
}

.detailUpdateButton{
    all : unset;
    cursor: pointer;
}

.detailContentBox {
    background-color: #23272B;
    min-height: 40vh;
    margin-top: 0.2vh;
    color: rgba(210, 241, 241, 0.61)
}

.detailContent {
    padding-top: 2vh; 
    padding-left: 1vw;
}

.detailCommentWriteBox {
    display: flex;
    margin-top: 0.3vh;
}

.detailCommentWriteContent {
    all:unset;
    width: 35.4vw;
    height: 8vh;
    background-color: rgba(255, 255, 255, 0.829)
}

.detailCommentWriteContentBtn {
    all:unset;width: 4.6vw;
    text-align: center;
    height: 8vh;
     background-color: #2f3336;
     color: rgba(255, 255, 255, 0.452);
     cursor: pointer;
}

.detailCommentPageBox {
    display: flex;
    gap: 0.2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: rgba(240, 248, 255, 0.692);
    justify-content: center;
}


.pageButton {
    cursor: pointer;
    width: 1.3vw;
    height: 2vh;
    border: none;
    background-color: #b4b9be98;
    color: #fff;
}

.active {
    color: #000;
}
.findmemberBoardDetailCommentBoxBtn{
    cursor: pointer;
}

.findMemberBoardSearchButton{
    cursor: pointer;
}